# Data manipulation and analysis
numpy
pandas==1.3.1

# DataRobot
datarobot==2.26.0

# Machine Learning
scikit-learn
tensorflow
joblib

# Visualization
matplotlib
plotly
altair

# Web Interface
streamlit


